
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 70px;
    text-decoration-line: underline;
}

@media screen and (min-width:664px){
    .products-center{
        display: flex;
        flex-wrap: wrap;
    }
    .single{
        flex: 0 0 calc(50% - 20px);
    }
}